#map {
    width: 1500px;
    height: 800px;
    background-color: #000;
}

body {
    background: black;
    padding-top: 60px;
    font-family: 'Open Sans', sans-serif;
    color: #F8F8F8;
}

.highlight {
    color:dimgray;
}
.notHovered {
    opacity: 0.3;
}

.btn-toolbar {
    text-align: center;
    display: inline-block;
    float: middle;
}

#stats {
    position: absolute;
    right: 200px;
    top: 140px;
    display: none;
}

.btn {
    min-width: 120px;
    color: black;
    font-weight: 300;
}

.btn.active {
    background-color: black;
    color: white;
    font-weight: 800;
}


.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;

}

.legend {
    display:block;
    float:left;
    height:15px;
    width:20%;
    text-align:center;
    font-size:9px;
    color:black;
}

/* styles for the panel on right of overview */

.sidenav {
    opacity:0.9;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

.enlarge {
    position: absolute;
    bottom: 20px;
    right: 25px;
    font-size: 16px;
}

#shrinkButton {
    display: none;
}

#choices {
    display: none;
}

.landing_box_left1 {
    position: absolute;
    left: 0px;
}

.landing_box_right1 {
    position: absolute;
    right: 150px;
}

.landing_box_left2 {
    position: absolute;
    left: 0px;
    top: 160px;
}

.landing_box_right2 {
    position: absolute;
    right: 120px;
    top: 160px;

}

.landing_box_left3 {
    position: absolute;
    left: 0px;
    top: 320px;

}

.landing_box_right3 {
    position: absolute;
    right: 160px;
    top: 320px;


}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/*! footer.css */

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.x-axis, .y-axis {
    stroke: #ffffff;
}

.bar:hover {
    fill: #ffffff;
}

select {
    color: black;
}

button {
    color: black;
}

/* treemap */

text {
    pointer-events: none;
}

.grandparent text { /* header text */
    font-weight: bold;
    font-size: medium;
    font-family: 'Open Sans', sans-serif;
}

rect.parent,
.grandparent rect {
    stroke-width: 2px;
}

.grandparent rect {
    fill: #fff;
}

.children rect.parent,
.grandparent rect {
    cursor: pointer;
}

rect.parent {
    pointer-events: all;
}

.children:hover rect.child,
.grandparent:hover rect {
    fill: #aaa;
}

/* streamgraph */

.axis path, .axis line {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

button {
    position: absolute;
    right: 50px;
    top: 10px;
}

/* treemap */
#chart {
    width: 820px;
    height: 700px;
    background: #bbb;
    margin: 1px auto;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

text {
    pointer-events: none;
}

.grandparent text { /* header text */
    font-weight: bold;
    font-size: medium;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}


rect.parent,
.grandparent rect {
    stroke-width: 2px;
}

.grandparent rect {
    fill: #fff;
}

.children rect.parent,
.grandparent rect {
    cursor: pointer;
}

rect.parent {
    pointer-events: all;
}

.children:hover rect.child,
.grandparent:hover rect {
    fill: #aaa;
}

.textdiv { /* text in the boxes */
    font-size: x-small;
    padding: 5px;
    font-size: 7px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

/* streamgraph2 */
.chart {
    font: 10px sans-serif;
    position: relative;
    margin: 0 40px;
    font-color: #fff;
}

.axis path, .axis line {
    fill: none;
    stroke: #fff;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

#mySidenav .bundleinfo, .bundlebarlines, .bundlebars {
    display: none;
}

#clear {
    display: none;
}

#viewbundles {
    display: none;
}

#legend {
    display: none;
}